* {
  user-select: true;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.container {
  height: 50%;
  width: 50%;
  user-select: auto;
}

.product-svg {
  position: absolute;
  z-index: -1;
  left: 650px;
  margin-top: 85px;
  width: 580px;
  height: 580px;
  /* background-repeat: no-repeat; */
  mix-blend-mode: multiply;
  user-select: auto;
}

.background-image {
  position: absolute;
  top: 85px;
  left: 650px;
  width: 580px;
  height: 580px;
  user-select: auto;
  z-index: -1;
}

.c_page_title{
  margin-left: 580px;
}

.colors {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  /* z-index: 3; */
}

.color {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}