
#text-part {
  position: absolute;
  left: 0px;
  width: 40.5%;
  height: 72%;
}

#text-input {
  position: absolute;
  top: 0px;
  left: 0px;
}

#text-size-input {
  position: absolute;
  top: 0px;
  left: 200px;
}

#text-reset-btn {
  position: absolute;
  top: 0px;
  left: 400px;
}

#image-input{ 
  position: absolute;
  top: 230px;
  left: 300px;
}


.behind_image{
  z-index: 0;
}

.screenShot-btn{
  z-index: -1;
}

.back{
  position: absolute;
}

.next_btn{
  position: absolute;
  margin-left: 1280px;
  margin-top: 350px;
  z-index: 100;
}
.prev_btn{
  position: absolute;
  margin-left: 80px;
  margin-top: 350px;
  z-index: 10;
}

.custom_banner{
  position: absolute;
  margin-left: 360px;
  margin-top: 676px;
  z-index: -50;
}
