
#text-part {
  position: absolute;
  left: 0px;
  width: 40.5%;
  height: 72%;
  z-index: 3;
}

#text-input {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#text-size-input {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 3;
}

#text-reset-btn {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 3;
}

#image-input{ 
  position: absolute;
  top: 0px;
  left: 600px;
  z-index: 3;
}
