@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.main{
    text-align: center;
    font-size: 20px;
    color:rgb(229, 226, 226);
    font-family: 'Nanum Gothic';
    font-weight: bold;
}
.header{
    position: fixed;
    z-index: 50;
    padding: 0;
}

.headerMenu{
    margin-left: 950px;
    position: fixed;
    z-index: 50;
    padding: 0;
}
.headerMenu a{
    display: inline-block;
    margin: 9px 8px;
    text-decoration: none;
    color: #8e8992;
    font-size: 15px;
    letter-spacing: 1.2px;
    z-index: 50;
    padding: 0;
}

.headerMenu a:hover{
    color: #64513a;
    z-index: 50;
    padding: 0;
} 
.Header {
    text-align: center;
    z-index: 50;
    padding: 0;
}
.logo {
    margin-left: 60px;
    margin-top: 5px;
}